@using RoomManagement.ViewModels;
@{
    ViewData["Title"] = "Expance";
}


@model AmountDetailsViewModel

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="row">
            <div class="col-8">
                <h1>Room Management Expance</h1>
            </div>
            <div class="col-4">
                @if (@Model.AmountDetail.Count==0)
                {
                    <a asp-action="AddOrEditAmountDetail" class="btn btn-sm btn-success">
                        <i class="fa-solid fa-plus"></i> New
                    </a>
                
                    }
               
            </div>
            
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        RoomRentAmount
                    </th>
                    <th>
                        FootAmountAmount
                    </th>
                    <th>
                        Detected Amount
                    </th>
                </tr>

            </thead>
            <tbody>
                @foreach (AmountDetail item in @Model.AmountDetail)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoomRentAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FootAmountAmount)
                        </td>
                          <td>
                            @Html.DisplayFor(modelItem => item.DetectedAmt)
                        </td>
                        <td>
                            <form asp-action="DeleteAmountDetail" asp-route-id="@item.Id">
                                <div class="btn-group btn-group-sm">
                                    <a asp-action="AddOrEditAmountDetail" asp-route-id="@item.Id" class="btn btn-warning">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <button type="submit" class="btn btn-danger"
                                        onclick="return confirm('Are you sure to delete this record?')">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

