@using RoomManagement.ViewModels;
@{
	ViewData["Title"] = "Home Page";
}


@model IndexViewModel

<div class="row">
	<div class="col-md-8 offset-md-2">
		<div class="row">
			<div class="col-8">
				<h1>Room Management</h1>
			</div>
			<div class="col-4">
				<a asp-action="AddOrEdit" class="btn btn-sm btn-success">
					<i class="fa-solid fa-plus"></i> New
				</a>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>
							Name
						</th>
						<th>
							Company
						</th>
						<th>
							JoinDate
						</th>
						<th>
							VecateDate
						</th>
						<th>
							Action
						</th>
					</tr>

				</thead>
				<tbody>
					@foreach (Member item in @Model.Member)
					{
						@if (item.IsVecate == false)
						{
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.Name)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Company)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.JoinDate)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.VecateDate)
								</td>
								<td>
									<form asp-action="Delete" asp-route-id="@item.Id">
										<div class="btn-group btn-group-sm">
											<a asp-action="AddOrEdit" asp-route-id="@item.Id" class="btn btn-warning">
												<i class="fa-solid fa-pen-to-square"></i>
											</a>
											<button type="submit" class="btn btn-danger"
											onclick="return confirm('Are you sure to delete this record?')">
												<i class="far fa-trash-alt"></i>
											</button>
										</div>
									</form>
								</td>
							</tr>
						}
					}
				</tbody>
			</table>
			<div />
			<h3>Vecated</h3>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>
								Name
							</th>
							<th>
								Company
							</th>
							<th>
								JoinDate
							</th>
							<th>
								VecateDate
							</th>
							<th>
								Action
							</th>
						</tr>

					</thead>
					<tbody>
						@foreach (Member item in @Model.Member)
						{
							@if (item.IsVecate == true)
							{

								<tr>
									<td>
										@Html.DisplayFor(modelItem => item.Name)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Company)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.JoinDate)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.VecateDate)
									</td>
									<td>
										<form asp-action="Delete" asp-route-id="@item.Id">
											<div class="btn-group btn-group-sm">
												<a asp-action="AddOrEdit" asp-route-id="@item.Id" class="btn btn-warning">
													<i class="fa-solid fa-pen-to-square"></i>
												</a>
												<button type="submit" class="btn btn-danger"
												onclick="return confirm('Are you sure to delete this record?')">
													<i class="far fa-trash-alt"></i>
												</button>
											</div>
										</form>
									</td>
								</tr>
							}

						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
